/*----------------------------------------------------------------------------------

Project     :   Bizzer - One Page Parallax/Business/Corporate/Agency HTML Template
Author:     :   RootPointer
Author URI  :   https://themeforet.net/user/rootpointer

-------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------

[Table of contents]

01.Default CSS
02.Preloader
03.Header
04.Image Banner
05.Slider
06.Particles Effect
07.Animated Headline
08.Ripple Effect
09.Parallax Background
10.Video Background
11.Section Heading
12.About
13.Services
14.Portfolio
15.Feature
16.Call To Action
17.Why Choose Us
18.Newsletter
19.Pricing
20.Counter
21.Team
22.Testimonial
23.Latest Blog
24.Contact
25.Partner
26.Footer
27.Blog Page
28.Blog Details Page
29.Not Found Page

--------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
    Default CSS
---------------------------------------------------------------------------------------*/



/* raleway-100 - latin-ext_latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-100.eot'); /* IE9 Compat Modes */
  src: local('Raleway Thin'), local('Raleway-Thin'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-100.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-200 - latin-ext_latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin-ext_latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light'), local('Raleway-Light'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin-ext_latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin-ext_latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin-ext_latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin-ext_latin */
@font-face {
  font-family: 'Raleway'; 
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin-ext_latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin-ext_latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/raleway/raleway-v12-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Raleway Black'), local('Raleway-Black'),
       url('../fonts/raleway/raleway-v12-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v12-latin-ext_latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* Roboto-100 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Roboto-300 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Roboto-regular - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Roboto-500 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Roboto-700 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Roboto-900 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-weight: 400;
    color: #373737;
    position: relative
}

#body-wrap {
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s
}

a {
    color: #2c3e50;
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6,
h1,
.h1,
.h2,
.h3 {
    font-weight: 400
}

h1 {
    font-size: 60px;
    line-height: 70px
}

h2 {
    font-size: 36px;
    line-height: 46px
}

h3 {
    font-size: 24px;
    line-height: 34px
}

h4 {
    font-size: 20px;
    line-height: 30px
}

h5 {
    font-size: 18px;
    line-height: 28px
}

h6 {
    font-size: 16px;
    line-height: 26px
}

p {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}

blockquote {
    color: #777
}

.font-700 {
    font-weight: 700
}

.font-600 {
    font-weight: 600
}

.font-500 {
    font-weight: 500
}

.text-uppercase {
    text-transform: uppercase
}

.bg-gray {
    background-color: #f5f5f5
}

.color-white {
    color: #fff
}

.color-gray {
    color: #777
}

.color-base {
    color: #3094f1
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.position-relative {
    position: relative
}

.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.form-control {
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    border-radius: 2px
}

.fix {
    overflow: hidden
}

.m-0 {
    margin: 0
}

.p-0 {
    padding: 0
}

.dp-table {
    display: table;
    width: 100%;
    height: 100%
}

.tbl-cell {
    display: table-cell;
    vertical-align: middle
}

.full-height {
    height: 100vh
}

.default-padding {
    padding: 60px 0 80px;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.large-btn {
    margin: 60px 0 0;
}

.large-btn a {
    border: 2px solid #fff;
    padding: 12px 50px;
    margin: 0 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
}

.large-btn a.color-bg,
.large-btn a:hover {
    border-color: #3094f1;
    background-color: #3094f1;
}

.large-btn a.color-bg:hover {
    border-color: #fff;
    background-color: #fff;
    color: #3094f1
}

/*-------------------------------------------------------------------------------------
    Preloader
---------------------------------------------------------------------------------------*/

.preloader {
    background-color: #3094f1;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.preloader .spinner {
    width: 60px;
    height: 60px;
    margin: 21% auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/*-------------------------------------------------------------------------------------
    Header
---------------------------------------------------------------------------------------*/

#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 9;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.header-top {
    border-bottom: 1px solid #505151;
    padding: 20px 0;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.header-contact-info ul li {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    margin-right: 15px;
}

.header-contact-info ul li i {
    color: #3094f1;
    margin-right: 4px;
}

.header-social ul li {
    display: inline-block;
}

.header-social li a {
    display: block;
    color: #3094f1;
    padding: 0 4px;
}

.header-social li span {
    font-weight: 500;
    color: #fff;
}

.mainmenu {
    padding: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

nav.navbar.bootsnav.affix {
    background-color: #303f4c;
    width: 100%
}

.navbar.affix-top {
    position: static;
    top: -10px;
}

.navbar-brand {
    -webkit-transition: 0.3s;
    transition: 0.3s
}
.navbar-brand img{
    max-height: 60px;
}

nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

nav.navbar.bootsnav ul.nav > li > a {
    text-transform: uppercase;
    font-weight: 600
}

/*-------------------------------------------------------------------------------------
    Image Banner
---------------------------------------------------------------------------------------*/

#image-banner {
    background-image: url(../images/banner-1.jpg);
    background-position: top;
}

.caption-content {
    padding: 8% 10% 0
}

/*-------------------------------------------------------------------------------------
    Slider
---------------------------------------------------------------------------------------*/

.slide-single {
    background-position: top
}

.owl-stage {
    margin-left: -2px
}

.slides.owl-carousel .owl-nav > div {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.slides.owl-carousel .owl-nav > div i.icofont-simple-left{
    margin-left: -1px;
}
.slides.owl-carousel .owl-nav > div i.icofont-simple-right{
    margin-right: -1px;
}

.slides.owl-carousel .owl-nav > div:hover {
    background-color: #3094f1;
}

.slides.owl-carousel .owl-nav .owl-next {
    padding: 5px 10px;
    right: 10px;
    left: auto;
}

.slides.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
}

.slides.owl-carousel .owl-dot {
    width: 30px;
    height: 6px;
    display: inline-block;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 6px;
}

.slides.owl-carousel .owl-dot.active {
    background-color: #3094f1
}

/*-------------------------------------------------------------------------------------
    Particles Effect
---------------------------------------------------------------------------------------*/

#particles {
    background-image: url('../images/banner-5.jpg');
}

#particles .caption-content {
    position: absolute;
}

#particles .caption-content .large-btn {
    z-index: 99
}

#particles canvas {
    position: relative;
}

/*-------------------------------------------------------------------------------------
    Animated Headline
---------------------------------------------------------------------------------------*/

#animated-headline {
    background-image: url('../images/banner-5.jpg');
}


/*-------------------------------------------------------------------------------------
    Ripple Effect
---------------------------------------------------------------------------------------*/

#ripple-bg {
    background-image: url('../images/banner-6.jpg');
    background-position: top
}

.ripple {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%
}

/*-------------------------------------------------------------------------------------
    Parallax Background
---------------------------------------------------------------------------------------*/

#parallax {
    background-image: url(../images/banner-3.jpg);
    background-attachment: fixed;
    background-position: top
}

/*-------------------------------------------------------------------------------------
    Video Background
---------------------------------------------------------------------------------------*/

#video-background {
    background-color: #3094f1
}

/*-------------------------------------------------------------------------------------
    Section Heading
---------------------------------------------------------------------------------------*/

.heading {
    margin: 0 0 70px;
}

.heading h4 {
    margin-bottom: 5px;
}

.heading h2 {
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 10px
}

/*-------------------------------------------------------------------------------------
    About
---------------------------------------------------------------------------------------*/

#about {
    padding: 80px 0;
}

.about-img img {
    border-radius: 25px;
}

.about-content h2 {
    margin: 10px 0 15px
}

/*-------------------------------------------------------------------------------------
    Services
---------------------------------------------------------------------------------------*/

.service-single {
    background-color: #fff;
    padding: 50px 20px 28px;
	margin-bottom: 20px;
    border-radius: 25px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.service-single:hover {
    -webkit-box-shadow: 0 0 20px 0 #e6f0fa;
    box-shadow: 0 0 20px 0 #e6f0fa;
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.service-single:hover > i {
    background-color: #3094f1;
    color: #fff
}

.service-single > i {
    color: #3094f1;
    font-size: 50px;
    background-color: #f5f5f5;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
    line-height: 100px;
    margin: 0 0 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

/*-------------------------------------------------------------------------------------
    Portfolio
---------------------------------------------------------------------------------------*/

.portfolio-menu {
    margin: 0 0 40px;
}

.portfolio-menu button {
    border-radius: 4px;
    padding: 6px 15px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #ddd;
}

.portfolio-menu button:hover,
.portfolio-menu button:active,
.portfolio-menu button:focus,
.portfolio-menu button.active {
    background-color: #3094f1;
    border-color: #3094f1;
    color: #fff;
}

.portfolio-grid {
    padding: 0 2px;
}

.portfolio-single {
    margin: 0 0 4px;
    border-radius: 4px;
}

.portfolio-single .overlay {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    background-color: rgba(48, 148, 241, 0.8)
}

.portfolio-single:hover .overlay,
.portfolio-single:hover .portfolio-content {
    opacity: 1;
    visibility: visible;
    margin: 0
}

.portfolio-single:hover .portfolio-content::before,
.portfolio-single:hover .portfolio-content::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%
}

.portfolio-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.portfolio-content {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    width: 100%;
    height: 100%;
    margin: 10px 0 0
}

.portfolio-content::before {
    content: '';
    width: 30%;
    height: 30%;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    position: absolute;
    left: 20px;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.portfolio-content::after {
    content: '';
    width: 30%;
    height: 30%;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.portfolio-content a {
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 9;
    font-size: 30px
}

/*-------------------------------------------------------------------------------------
    Feature
---------------------------------------------------------------------------------------*/

#features {
    padding: 60px 0 50px;
}

.feature-single {
    padding: 30px 40px 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 25px 0;
    margin: 0 0 30px;
    background-color: #fff
}

.feature-single:hover {
    -webkit-box-shadow: 0 0 20px #e6f0fa;
    box-shadow: 0 0 20px #e6f0fa;
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.feature-single i {
    font-size: 60px;
    color: #3094f1;
    display: inline-block;
}


/*-------------------------------------------------------------------------------------
    Call To Action
---------------------------------------------------------------------------------------*/

#call-to-action {
    background-image: url(../images/bg-1.jpg);
    background-attachment: fixed;
    padding: 50px 0 80px
}

.call-to-action-content a {
    background-color: #3094f1;
    color: #fff;
    font-weight: 500;
    padding: 12px 30px;
    display: inline-block;
    margin: 20px 0 0;
    border-radius: 25px
}

/*-------------------------------------------------------------------------------------
    Why Choose Us
---------------------------------------------------------------------------------------*/

#why-choose-us {
    padding: 80px 0 70px;
}

.why-choose-content h2 {
    margin: 10px 0 15px;
}

.why-choose-content p {
    margin: 15px 0 24px;
}

.why-choose-features ul li {
    font-weight: 500;
    display: block;
    line-height: 30px
}

.why-choose-features ul li i {
    color: #3094f1;
    border: 2px solid #3094f1;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    line-height: 18px;
    margin-right: 4px
}

.why-choose-features span {
    width: 88%
}

.why-choose-features .icon {
    width: 10%
}

.why-choose-img img {
    border-radius: 25px
}

/*-------------------------------------------------------------------------------------
    Newsletter
---------------------------------------------------------------------------------------*/

.newsletter-form input {
    border-radius: 25px 0 0 25px;
    height: 50px;
    padding-left: 20px;
}

.newsletter-btn button {
    width: 100%;
    height: 50px;
    border-radius: 0 25px 25px 0;
    border: 0;
    background-color: #3094f1;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

/*-------------------------------------------------------------------------------------
    Pricing
---------------------------------------------------------------------------------------*/

.pricing-table-single {
    background-color: #fff;
    border-radius: 30px 0;
    padding: 20px 0 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.pricing-table-single:hover {
    -webkit-box-shadow: 0 0 20px #e6f0fa;
    box-shadow: 0 0 20px #e6f0fa;
}

.price-amount {
    margin: 0 0 20px;
}

.price-amount h2 sub {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.table-details ul li {
    display: block;
    padding: 8px 0;
    font-weight: 500;
    color: #777;
}

.table-btn {
    margin: 20px 0 0;
}

.table-btn a {
    display: inline-block;
    border: 2px solid #3094f1;
    padding: 8px 40px;
    border-radius: 25px;
    color: #3094f1;
    font-weight: 600;
}

.pricing-table-single:hover .table-btn a {
    color: #fff;
    background-color: #3094f1
}

.pricing-table-single.popular {
    background-color: #3094f1;
}

.pricing-table-single.popular:hover {
    -webkit-box-shadow: 0 0 50px #e6f0fa;
    box-shadow: 0 0 50px #e6f0fa;
}

.pricing-table-single.popular .price-amount h2 sub {
    color: #ddd;
}

.pricing-table-single.popular .table-details ul li {
    color: #fff;
}

.pricing-table-single.popular .table-btn a {
    border: 2px solid #fff;
    color: #fff;
}

.pricing-table-single.popular:hover .table-btn a {
    color: #3094f1;
    background-color: #fff
}

/*-------------------------------------------------------------------------------------
    Counter
---------------------------------------------------------------------------------------*/

#counter {
    padding: 80px 0 75px;
    background-image: url(../images/bg-1.jpg);
    background-position: top;
    background-attachment: fixed
}

.counter-single i {
    font-size: 35px;
    border-radius: 20px 0;
    height: 80px;
    width: 80px;
    display: inline-block;
    line-height: 80px;
    background-color: #3094f1;
    color: #fff
}

.counter-single .icofont.icofont-cop-badge,
.counter-single .icofont.icofont-files {
    font-size: 30px;
}

.counter-single h6 {
    margin: -5px 0 0;
}

/*-------------------------------------------------------------------------------------
    Team
---------------------------------------------------------------------------------------*/

.team-member-single {
    border: 1px solid #ddd;
    border-radius: 25px;
}

.team-member-single:hover .member-social {
    opacity: 1;
    visibility: visible;
    right: 0
}

.member-details {
    border-radius: 0 0 25px 0;
    padding: 30px 0 20px;
    background-color: #3094f1
}

.member-social {
    position: absolute;
    top: 0;
    right: -20px;
    background-color: #2c3e50;
    padding: 60px 20px;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.member-social li a {
    display: block;
    font-size: 20px;
    padding: 10px 0;
    color: #fff
}

.member-social li a:hover {
    color: #3094f1
}

/*-------------------------------------------------------------------------------------
    Testimonial
---------------------------------------------------------------------------------------*/

#testimonial {
    background-image: url(../images/banner-2.jpg);
    background-attachment: fixed;
}

.testimonial-carousel {
    border-radius: 25px 0;
    background-color: #a3d4ff
}

.testimonial-single {
    padding: 50px 50px 90px
}

.client-comment p {
    font-style: italic;
    letter-spacing: 1px
}

.client-comment p i {
    color: #f1c40f;
    padding: 0 2px;
}

.client-details {
    padding: 30px 0 0;
}

.client-img {
    width: 100px;
}

.client-img img {
    max-width: 80px;
    border-radius: 50%
}

.client-info h5 {
    margin: 10px 0 0
}

.testi-quote {
    padding: 50px 0 0 40px;
}

.testi-quote i {
    font-size: 30px;
}

.testimonial-carousel .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    width: 25px;
    height: 5px;
    display: inline-block;
    margin: 0 4px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.testimonial-carousel .owl-dot.active {
    background-color: #fff
}

/*-------------------------------------------------------------------------------------
    Latest Blog
---------------------------------------------------------------------------------------*/

.blog-post-single.latest {
    background-color: #fff;
    border-radius: 25px 0;
    overflow: hidden;
    margin: 0 0 30px
}

.blog-post-single.latest .post-details {
    padding: 8px 0 0;
}

.blog-btn a {
    display: inline-block;
    background-color: #3094f1;
    color: #fff;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 25px;
    margin: 20px 0 0
}

/*-------------------------------------------------------------------------------------
    Contact
---------------------------------------------------------------------------------------*/

.contact-info-single i {
    color: #3094f1;
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 4px;
    line-height: 55px;
    border: 2px solid #3094f1;
    margin: 0 0 15px
}

.contact-info-single {
    margin: 0 0 35px;
    padding: 0 20px;
}

.contact-form input {
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
}

.contact-form textarea {
    border-radius: 25px;
    padding: 15px 0 0 20px;
}

.contact-btn button {
    border: 2px solid #3094f1;
    background-color: transparent;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    color: #3094f1;
}

.contact-btn button:hover {
    background-color: #3094f1;
    color: #fff;
}

#map {
    width: 100%;
    height: 430px
}

/*-------------------------------------------------------------------------------------
    Partner
---------------------------------------------------------------------------------------*/

#partner {
    padding: 40px 0 30px;
}

.partner-carousel.owl-carousel img {
    max-width: 180px;
    margin: 0 auto;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

.partner-carousel.owl-carousel img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


/*-------------------------------------------------------------------------------------
    Footer
---------------------------------------------------------------------------------------*/

#footer {
    background-color: #1A1E21;
}

.footer-top {
    padding: 50px 0 80px
}

.footer-social ul li {
    display: inline-block;
}

.footer-social ul li a {
    display: block;
    color: #3094f1;
    font-size: 20px;
    border: 2px solid #3094f1;
    padding: 4px 8px;
    margin: 0 4px;
    border-radius: 4px;
}

.footer-social ul li a:hover {
    background-color: #3094f1;
    color: #fff;
}

.footer-links li a {
    padding: 8px 0;
    display: inline-block;
    color: #777;
    font-weight: 500;
}

.footer-links li a:hover {
    color: #3094f1;
}

.footer-instagram ul li {
    display: inline-block;
}

.footer-instagram li a {
    display: block;
}

.footer-latest-news h3,
.footer-about h3,
.footer-instagram h3 {
    margin: 20px 0;
}

.footer-bottom {
    background-color: #131618;
    padding: 20px 0;
}

.click-to-top {
    background-color: #3094f1;
    position: fixed;
    bottom: 30px;
    right: 15px;
    overflow: hidden;
    border-radius: 4px
}

.click-to-top > a {
    background-color: #3094f1;
    color: #fff;
    display: block;
    font-size: 22px;
    padding: 10px 12px;
}

/*-------------------------------------------------------------------------------------
    Blog Page
---------------------------------------------------------------------------------------*/

.blog-wrap {
    padding: 80px 0 60px;
}


.page-title_son {

    padding: 220px 0 60px;

}

.page-title {
    background-image: url(../images/bb1.jpg);
    padding: 220px 0 60px;

}

.page-title_2 {
    background-image: url(../images/bb2.jpg);
    padding: 220px 0 60px;

}

.page-title_3 {
    background-image: url(../images/bb3.jpg);
    padding: 220px 0 60px;

}

.page-title_4 {
    background-image: url(../images/bb4.jpg);
    padding: 220px 0 60px;

}

.page-title_5 {
    background-image: url(../images/bb5.jpg);
    padding: 220px 0 60px;

}


.breadcrumb {
    background-color: transparent
}

.breadcrumb ul li {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    padding: 0 4px
}

.breadcrumb li a {
    display: block;
    font-weight: 600;
    color: #3094f1;
}

.blog-post-single {
    margin: 0 0 50px;
    -webkit-box-shadow: 0 0 10px #e6f0fa;
    box-shadow: 0 0 10px #e6f0fa;
}

.post-details {
    padding: 0 20px 25px;
}

.post-date {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #3094f1;
    text-align: center;
    font-weight: 500;
    color: #fff;
    border-radius: 4px 0;
    padding: 4px;
}

.post-date .date-inner {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px 0
}

.post-title h2 a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    display: block;
    margin: 16px 0 -10px;
}

.post-meta p a {
    display: inline-block;
    padding: 2px 6px 0 0;
    font-size: 13px
}

.post-meta p a:hover,
.post-title h2 a:hover {
    color: #3094f1
}


/*
    Widget
-----------------------------
*/

.blog-sidebar {
    padding: 20px 20px 0;
    -webkit-box-shadow: 0 0 10px #e6f0fa;
    box-shadow: 0 0 10px #e6f0fa;
}

.blog-sidebar .widget {
    margin: 0 0 30px;
}

.blog-sidebar .widget h3 {
    margin: 0 0 15px;
}

.widget.recent-post {
    margin: 0 0 20px
}

.widget.search input {
    height: 50px;
}

.widget.search span {
    position: absolute;
    right: 20px;
    top: 65px;
}

.recent-post-single {
    margin: 0 0 10px;
}

.recent-post-single .post-img {
    width: 30%;
}

.recent-post-single .post-img a {
    display: inline-block;
}

.recent-post-single .post-cont {
    width: 70%;
    padding-left: 5%;
}

.recent-post-single .post-cont h5 {
    font-weight: 500;
    margin: -10px 0 0
}

.recent-post-single .post-cont p span {
    font-size: 12px;
    font-weight: 500;
    margin: -4px 0 -6px;
    display: block;
}

.widget.category ul li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

.widget.category ul li:first-child {
    border-top: 1px solid #ddd;
}

.widget.category ul li a:hover,
.recent-post-single .post-cont h5 a:hover {
    color: #3094f1
}

.widget.tags span a {
    display: inline-block;
    padding: 10px;
    background-color: #3094f1;
    color: #fff;
    font-weight: 500;
    margin: 0 4px 4px 0;
    border-radius: 4px;
}

.pager li a {
    font-weight: 500;
    margin: 0 5px;
    padding: 5px 20px;
}

.pager li a:hover {
    background-color: #3094f1;
    border-color: #3094f1;
    color: #fff;
}

/*-------------------------------------------------------------------------------------
    Blog Details Page
---------------------------------------------------------------------------------------*/

.blog-details-wrap {
    padding: 80px 0
}

.blog-post-social {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0 15px;
}

.blog-post-social ul li span {
    font-size: 18px;
    padding-right: 5px
}

.blog-post-social ul li {
    display: inline-block;
}

.blog-post-social ul li a {
    display: block;
    border: 2px solid #3094f1;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 16px;
    color: #3094f1;
}

.blog-post-social ul li a:hover {
    background-color: #3094f1;
    border-color: #3094f1;
    color: #fff;
}

.post-comments h3 {
    margin: 40px 0 30px;
}

.comment-single .media-body p a {
    font-weight: 500;
    padding-right: 5px;
}

.comment-single .media-body p a:hover {
    color: #3094f1;
}

.comment-single img {
    border-radius: 50%;
    width: 60px;
}

.comment-single .media-body {
    padding: 0 0 10px;
}

.comment-single.inner {
    padding: 30px 0 0;
}

.comment-form input {
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
}

.comment-form textarea {
    border-radius: 25px;
    padding: 15px 0 0 20px
}

.comment-btn button {
    color: #3094f1;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid #3094f1;
    background-color: transparent;
}

.comment-btn button:hover {
    background-color: #3094f1;
    border-color: #3094f1;
    color: #fff;
}

/*-------------------------------------------------------------------------------------
    Not Found Page
---------------------------------------------------------------------------------------*/

.notfound-content {
    padding: 80px 0 135px;
}

.notfound-content h1 {
    font-size: 120px;
    line-height: 130px;
}

.notfound-content h2 {
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0 0;
}

.notfound-content a {
    display: inline-block;
    background-color: #3094f1;
    color: #fff;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 4px;
    margin: 30px 0 0;
}
